@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    height: 120vh;
    background-image: linear-gradient(to bottom,#ffffff 10%, #5a000036 );
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    max-width: 1800px;
}

.dropdown-content {
    top: -60px; 
    left: -15px;
}

#notificationsDropdown {
    width: 305px !important;
}

#messagesDropdown {
    width: 305px !important;
    left:1100px !important;
}

#helpDropdown {
    width: 305px !important;
    left:1100px !important;
    
}

.main{
    height: 100%;
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    margin-inline: auto;
}

.row {
    margin-top: 119px; 
    
}

.left-column{
    position: fixed;
}

.container{
    border-style: solid;
    border-color: rgba(43, 5, 5, 0.188);
    margin-top: 12px;
    margin-left: -4px;
    border-width: 1px;
    width: 240px;
    margin-bottom: -2px;
}

.collection{
    margin-left: -4px;
    width: 240px;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
}